<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177467381974-c077jvflb82tr4kj793ngbv9qoihsahh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177467381974-c077jvflb82tr4kj793ngbv9qoihsahh</string>
	<key>API_KEY</key>
	<string>AIzaSyAdtRE8ewaYCUYBwPx6iJII17gqCmdBTxI</string>
	<key>GCM_SENDER_ID</key>
	<string>177467381974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.creative.cooking</string>
	<key>PROJECT_ID</key>
	<string>creative-cooking-ed643</string>
	<key>STORAGE_BUCKET</key>
	<string>creative-cooking-ed643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177467381974:ios:e55afe720abee099c35177</string>
	<key>DATABASE_URL</key>
	<string>https://creative-cooking-ed643.firebaseio.com</string>
</dict>
</plist>